<h3 style="color:red;">Event Binding Examples</h3>
<hr>
<p>
    <b>Example 1:</b>
    <input type="button" (click)="handleButtonClick()" value="Click here" class="btn btn-primary m-4">
</p>

<p>
    <b>Example 2:</b>
    <input type="button" (click)="clickMe($event)" value="One" class="btn btn-primary my-4 mx-2 col-2">
    <input type="button" (click)="clickMe($event)" value="Two" class="btn btn-primary my-4 mx-2 col-2">
    <input type="button" (click)="clickMe($event)" value="Three" class="btn btn-primary my-4 mx-2 col-2">
    <input type="button" (click)="clickMe($event)" value="Four" class="btn btn-primary my-4 mx-2 col-2">
    <input type="button" (click)="clickMe($event)" value="Five" class="btn btn-primary my-4 mx-2 col-2">
</p>