<div class="container-sm my-2">
    <img src="https://picsum.photos/id/450/200/200" alt="">
    <img src="https://picsum.photos/id/500/200/200" alt="">
    <img src="https://picsum.photos/id/550/200/200" alt="">
    <img src="https://picsum.photos/id/600/200/200" alt="">
    <img src="https://picsum.photos/id/650/200/200" alt="">

    <h3>Employee Workplace</h3>
    <hr>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Est dignissimos placeat ex quas ratione itaque odit,
        veritatis non veniam perspiciatis magnam minima excepturi, consequatur velit, accusamus saepe facere quibusdam
        sit. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odit ad quis tempore laudantium voluptatibus nisi
        perferendis voluptates. Error praesentium, libero, tenetur commodi temporibus unde natus animi autem, laborum
        itaque dolor? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Obcaecati, consectetur. Doloremque a
        quae, sapiente beatae nobis necessitatibus vitae officia cumque? Repellat possimus quos a alias dolorem? Odio
        repellat recusandae voluptatibus?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut, rem? Minus ratione, cum debitis sapiente quidem sit
        nulla dicta ipsam, ab adipisci voluptates illo unde laborum nostrum modi! Nisi, quae.</p>
</div>